<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="popstar" style="height: 100%;width: 100%;">
<head>
    <meta charset="utf-8">
    <script src="boot-html5.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/anmain.js"></script>
    <title>CocosBuilder Generated HTML5</title>
</head>
<body style="text-align: center;height: 100%;width: 100%;background: #f2f6f8;">

<div style="display:inline-block;width:auto; margin: 0 auto; background: black; position:relative; border:5px solid black; border-radius: 10px; box-shadow: 0 5px 50px #333">
    <canvas id="gameCanvas"
            width="{{Dwidth}}"
            height="{{Dheight}}"></canvas>
</div>
<div>{{Dwidth}}-{{Dheight}} {{DBOW}}-{{DBOH}} {{WSW}}-{{WSH}} {{WSAW}}-{{WSAH}} {{WSCD}} {{WSPD}} {{WIW}}-{{WIH}}</div>
<!--<a ng-controller="tasrca" ng-init="ShowTasrca = true" ng-click="ShowTasrca = !ShowTasrca" ng-show="ShowTasrca"
   href="Firefox-Android-42.0.apk">{{asrca}}</a>-->
</body>
</html>
